<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xzy.core.common.demo.GoodMapper">

    <select id="selectAllById" resultType="com.xzy.core.common.demo.Good">
        select * from good_copy1;
    </select>
    <select id="selectAllByIdAfter" resultType="com.xzy.core.common.demo.Good">
        select * from good_copy1 limit 1;
    </select>
</mapper>